.fieldCorrect {
    -fx-control-inner-background: greenyellow;
    -fx-background-color: greenyellow;
}
.fieldIncorrect {
    -fx-control-inner-background: lightpink;
    -fx-background-color: lightpink;
}